{{template "base" .}}
{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="column">
                <h1>This is Home Page</h1>
                <!--<img src = "/static/images/home.jpg", alt = "home image", width=1300, height = 650>-->
            </div>
        </div>
    </div>
{{end}}